
  input[type='range'] {
    width: 210px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
      outline: none;
  }
  input[type='range'],
  input[type='range']::-webkit-slider-runnable-track,
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
      background: none;
  }
  input[type='range']::-webkit-slider-runnable-track {
    width: 200px;
    height: 1px;
    background: #003D7C;
  }
  
  input[type='range']:nth-child(2)::-webkit-slider-runnable-track{
    background: none;
  }
  
  input[type='range']::-webkit-slider-thumb {
    position: relative;
    height: 15px;
    width: 15px;
    margin-top: -7px;
    background: #fff;
    border: 1px solid #003D7C;
    border-radius: 25px;
    z-index: 1;
  }
  
  input[type='range']:nth-child(1)::-webkit-slider-thumb{
    z-index: 2;
  }
  
  .rangeslider{
      position: relative;
      height: 60px;
      width: 210px;
      display: inline-block;
      margin-top: -5px;
      margin-left: 20px;
  }
  .rangeslider input{
      position: absolute;
  }
  .rangeslider{
      position: absolute;
  }
  
  .rangeslider span{
      position: absolute;
      margin-top: 30px;
      left: 0;
  }
  
  .rangeslider .right{
     position: relative;
     float: right;
     margin-right: -5px;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .left_area h3 {
    color: black;
    margin: 0;
    font-size: 32px;
    font-weight: 900;
  }

  .logout_btn:hover {
    background: #0D9DBB;
  }

  .sidebar {
    background: black;
    padding-top: 100px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 100%;
    transition-property: left;
  }

  .sidebar .profile_image {
    width: 100px;
    height:  100px;
    border-radius: 100px;
    margin-bottom: 10px;
  }

  .sidebar h4 {
    color: white;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 50px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }

  .sidebar a:hover {
    text-decoration: none;
    color: white;
    background: #19B3D3;
  }

  .sidebar i {
    padding-right: 10px;
  }

  label #sidebar_btn {
    z-index: 1;
    /* padding-left: 6%; */
    padding-top: 1px;
    color: white;
    position: fixed;
    cursor: pointer;
    left: 20px;
    top: 26px;
    font-size: 20px;
    transition: 0.5s;
    transition-property: color;
  }

  label #sidebar_btn:hover {
    z-index: 1;
    color: #19B3D3;
  }

  #myForm {
    float: right;
  }

  #check:checked ~ .sidebar {
    left: -190px;
  }

  #check:checked ~ .sidebar a span{
    display: none;
  }

  #check:checked ~ .sidebar a {
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
  }

  .content {  
    margin-left: 250px;
    height: 100vh;
    transition: 0.5s;

  }

  #check:checked ~ .content {
    margin-left: 60px;
  }

  #check {
    display: none;
  }

  #myBrand {
    font-family: 'Pacifico', cursive;
    font-size: 29px;
    margin-left: none;
    padding-left: none;
    padding-right: 1050px;
    color: white;
    transition: 0.3s;
    transition-property: color;
    
  }

  #font {
    font-family: 'Pacifico', cursive;
  }

  #myBrand:hover {
    color: #19B3D3;
  }

  nav {
    height: 70px;
    background-color: black;
    color: white;
  }

  #bottom {
    display: none;
  }

  .scrollable{
    overflow: auto;
  }

  @media (max-width: 576px) {

    #myNav {
      padding-top: 0px;
    }


    #myBrand {
      padding-bottom: 2rem;
    }

    #myInput {
      width: 78%;
      margin-bottom: 10px;
    }

    #myForm {
      display: none;
    }

    #bottom {
      display: block;
    }

    label #sidebar_btn {
      margin-left: 90px;
    }
  }