#or {
width: 100%;
height: 12px;
border-bottom: 1px solid grey;
text-align: center;
}

.lead {
    font-size: 15px; 
}

#myDiv {
    margin-top: 30px;
}

#myCard {
    width: 29rem; 
    margin: 10rem auto; 
    padding-top: 1.2rem; 
    padding-bottom: 3rem;
}

@media (max-width: 1040px) {
  
  nav {
    position: fixed;
    padding-top: 0px;
    width: 480px;
  }
  .rclass{
    margin-left: -7px;
  }
  .navbar-brand {
    padding-top: 0.6525rem;
  }

  .navbar.mynav{
    width: 110%;
  }
  .mycon {

    margin-top: 150px;
    margin-left: -14px;
  }
  .navbar-toggler{
    margin-right: -10px;
  }
}