body{
    background-color: black;
    background: url(https://images.unsplash.com/photo-1496602910407-bacda74a0fe4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-position: center; 
}

.card{
    border-radius: 5px;
}

.navbar-brand{
    color: white;
    font-family: 'Pacifico', cursive;
    transition: 0.3s;
    transition-property: color;

}

.navbar-brand:hover {
    color: #19B3D3
}

.navbar{
    padding: 2px 16px;
}

.navbar-nav{
    font-size: 1.1em;
}