* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh; 
}
ul {
    position: relative;
    display: flex;
}
ul li {
    position: relative;
    list-style: none;
}
ul li a {
    position: relative;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    text-decoration: none;
    font-size: 50px;
    border-radius: 50%;
    color: #e2e2e2; 
    transition: 0.5s;
}
.myclass a:hover {
    text-decoration: none;
    color: #999; 
    transform: translateY(-20px);
}
.myclass a .fab {
    color: #fff;
    position: relative;
    z-index: 1;
}
ul li a:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    border: 2px solid rgba(0,0,0,0.1);
}

ul li:nth-child(1) a:before {
    background: #c32aa3;
}

ul li:nth-child(2) a:before {
    background: #1877f2;
}

ul li:nth-child(3) a:before {
    background: #1da1f2;
}

.pTag {
  display: none;
}

#div1 {
  margin-top: 50px;
}

#myRow1 .good {
  margin-left: 25px;
}

.hello1 img {
  width: 100%;
  border-radius: 50%!important;
  max-width: 360px;
  max-height: 300px;
}

/* Sidebar and navbar styling start */

  .sidebar {
    background: black;
    padding-top: 50px;
    position: fixed;
    left: 0;
    width: 60px;
    height: 100%;
    transition: 100%;
    transition-property: right;
  }

  #check:checked ~ .sidebar {
    left: 0px;
    width: 250px;
  }

  #check:checked ~ .sidebar center {
    left: 0px;
    width: 250px;
    display: block;
  }

  #check:checked ~ .sidebar a span{
    display: inline-block;
  }

  #check:checked ~ .sidebar a {
    font-size: 17px;
    padding-left: 70px;
  }
  
  #check:checked ~ .content {
    margin-left: 250px;
  }

  #check:checked ~ .sidebar .scrollable {
    margin-top: 0;
  }

  .sidebar .scrollable {
    margin-top: 225px;
  }
  
  .sidebar .profile_image {
    width: 100px;
    height:  100px;
    border-radius: 100px;
    margin-bottom: 10px;
  }
  
  .sidebar h4 {
    color: white;
    margin-top: 0;
    margin-bottom: 40px;
  }

  .sidebar center {
    display: none;
  }

  .sidebar span {
    display: none;
  }

  .sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 50px;
    text-decoration: none;
    padding-left: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }
  
  .sidebar a:hover {
    text-decoration: none;
    color: white;
    background: #19B3D3;
  }

  .sidebar i {
    padding-right: 10px;
  }

  label #sidebar_btn {
    z-index: 1;
    /* padding-left: 6%; */
    padding-top: 1px;
    color: white;
    position: fixed;
    cursor: pointer;
    left: 17px;
    top: 29px;
    font-size: 20px;
    transition: 0.5s;
    transition-property: color;
  }

  label #sidebar_btn:hover {
    z-index: 1;
    color: #19B3D3;
  }
  
  .content {  
    width: 1000px;
    margin-left: 80px;
    height: 100vh;
    transition: 0.5s; 
  }
  
  #check {
    display: none;
  }
  
  #myBrand {
    font-family: 'Pacifico', cursive;
    font-size: 32px;
    margin-left: none;
    padding-left: none;
    padding-right: 90%;
    color: white;
    transition: 0.3s;
    transition-property: color;
    
  }
  
  #myBrand:hover {
    color: #19B3D3;
  }
  
  #font {
    font-family: 'Pacifico', cursive;
  }
  
  
  #myNav {
    height: 10%;
    background-color: black;
    color: white;
    padding-bottom: 20px; 
  }

  #myRow {
    padding-bottom: 20%;
    margin-bottom: 20%;
  }
  
  #bottom {
    display: block;
  }
  
  #myInput {
    width: 78%;
    margin-bottom: 10px;
  }
  
  form .filter_btn {
    margin-bottom: 10%;
  }
  
  /* Navbar and sidebar styling end */
  
  /* Styling for mobile size */
  
  @media (max-width: 1340px) {
    
    #myNav {
      padding-top: 0px;
    }
    
    
    #myBrand {
      margin-left: 40px;
      margin-bottom: 5px;
      padding-bottom: 2rem;
    }
    
    #myInput {
      width: 78%;
      margin-bottom: 10px;
    }
    
    #myForm {
      display: none;
    }
    
    #bottom {
      display: block;
    }
    
    label #sidebar_btn {
      left: 14px;
    }
    
    .but {
      display: none;
    }
    
    .pTag a {
      display: inline-block;
      margin-right: 122px;
    }

    .pTag a {
      display: block;
      margin-right: 122px;
    }
    
    #check:checked ~ .content {
      margin-left: 500px;
    }

    #div1 {
      margin-top: 0px;
    }

    .good {
      margin-left: 30px;
    }
  }